<script src="/js/racer.js"></script>
<img id="load-img-1" src="<%= @p1_URL %>" style="visibility:hidden">
<img id="load-img-2" src="<%= @p2_URL %>" style="visibility:hidden">
<table class="racer_table">
  <tr id="player1_strip">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player2_strip">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
