<!-- <script src='/js/racer.js'></script> -->
<div class="main-container">
  <div id="player-1-choose">
    <h2>PLAYER 1 SELECT YOUR AVATAR</h2> 
    <div class="columns">

      <img class="adam" src="https://secure.gravatar.com/avatar/04e1d153a7ed3996ed6bf4b1034aba7c.png?r=PG&d=mm&s=98">
      <img class="allen"src="https://secure.gravatar.com/avatar/4bab53beeee7ad735f5884e08b929e36.png?r=PG&d=mm&s=98">
      <img class="amy"src="https://secure.gravatar.com/avatar/518385f64e28d9c79725cbd94bf52f8b.png?r=PG&d=mm&s=98">
      <img class="avanish"src="https://secure.gravatar.com/avatar/680d6e9baf378d16b0fabc632addec28.png?r=PG&d=mm&s=98">
      <img class="ben"src="https://secure.gravatar.com/avatar/aa4881bf3c3da368f2e1034d3185750c.png?r=PG&d=mm&s=98">
      <img class="brian"src="https://secure.gravatar.com/avatar/de0ad21b9dc0590eb4167b5f70a4d797.png?r=PG&d=mm&s=98">
      <img class="dexter"src="https://secure.gravatar.com/avatar/53064afbff2ac8e1d8d34cd26c3654ca.png?r=PG&d=mm&s=98">
      <img class="ken"src="https://secure.gravatar.com/avatar/f7d84852b5b974a0982b689e4e7d9c52.png?r=PG&d=mm&s=98">
      <img class="molly"src="https://secure.gravatar.com/avatar/81ca241082dd3fe7ff0170ff418351bb.png?r=PG&d=mm&s=98">
      <img class="nate"src="https://secure.gravatar.com/avatar/96f313e05b907acd7ce043d821bd04e1.png?r=PG&d=mm&s=98">
      <img class="paulette"src="https://secure.gravatar.com/avatar/31bf70c5b8619e2758e64f77e302d8a1.png?r=PG&d=mm&s=98">
      <img class="robert"src="https://secure.gravatar.com/avatar/b9b65006ae97e506e4ded9e7aa67e338.png?r=PG&d=mm&s=98">
      <img class="ryan"src="https://secure.gravatar.com/avatar/076e677163b8b6fc9cac52b4abbd5fd2.png?r=PG&d=mm&s=98">
      <img class="stephane"src="https://secure.gravatar.com/avatar/12d82a47b8d094d40dcf7614c2a5dbf5.png?r=PG&d=mm&s=98">
      <img class="travis"src="https://secure.gravatar.com/avatar/a5783739903d41f9171959db83bf98f8.png?r=PG&d=mm&s=98">
      <img class="yaron"src="https://secure.gravatar.com/avatar/be950b531844b294c3138efe522809a4.png?r=PG&d=mm&s=98">
      <img class="anne"src="http://devbootcamp.com/imgs/teaching-large-anne.png">
      <img class="zee"src="http://devbootcamp.com/imgs/teaching-large-zee.png">
    </div>
  </div>


  <div id="player-2-choose">

    <h2>PLAYER 2 SELECT YOUR AVATAR</h2>
    <div class="columns">

      <img class="adam" src="https://secure.gravatar.com/avatar/04e1d153a7ed3996ed6bf4b1034aba7c.png?r=PG&d=mm&s=98">
      <img class="allen"src="https://secure.gravatar.com/avatar/4bab53beeee7ad735f5884e08b929e36.png?r=PG&d=mm&s=98">
      <img class="amy"src="https://secure.gravatar.com/avatar/518385f64e28d9c79725cbd94bf52f8b.png?r=PG&d=mm&s=98">
      <img class="avanish"src="https://secure.gravatar.com/avatar/680d6e9baf378d16b0fabc632addec28.png?r=PG&d=mm&s=98">
      <img class="ben"src="https://secure.gravatar.com/avatar/aa4881bf3c3da368f2e1034d3185750c.png?r=PG&d=mm&s=98">
      <img class="brian"src="https://secure.gravatar.com/avatar/de0ad21b9dc0590eb4167b5f70a4d797.png?r=PG&d=mm&s=98">
      <img class="dexter"src="https://secure.gravatar.com/avatar/53064afbff2ac8e1d8d34cd26c3654ca.png?r=PG&d=mm&s=98">
      <img class="ken"src="https://secure.gravatar.com/avatar/f7d84852b5b974a0982b689e4e7d9c52.png?r=PG&d=mm&s=98">
      <img class="molly"src="https://secure.gravatar.com/avatar/81ca241082dd3fe7ff0170ff418351bb.png?r=PG&d=mm&s=98">
      <img class="nate"src="https://secure.gravatar.com/avatar/96f313e05b907acd7ce043d821bd04e1.png?r=PG&d=mm&s=98">
      <img class="paulette"src="https://secure.gravatar.com/avatar/31bf70c5b8619e2758e64f77e302d8a1.png?r=PG&d=mm&s=98">
      <img class="robert"src="https://secure.gravatar.com/avatar/b9b65006ae97e506e4ded9e7aa67e338.png?r=PG&d=mm&s=98">
      <img class="ryan"src="https://secure.gravatar.com/avatar/076e677163b8b6fc9cac52b4abbd5fd2.png?r=PG&d=mm&s=98">
      <img class="stephane"src="https://secure.gravatar.com/avatar/12d82a47b8d094d40dcf7614c2a5dbf5.png?r=PG&d=mm&s=98">
      <img class="travis"src="https://secure.gravatar.com/avatar/a5783739903d41f9171959db83bf98f8.png?r=PG&d=mm&s=98">
      <img class="yaron"src="https://secure.gravatar.com/avatar/be950b531844b294c3138efe522809a4.png?r=PG&d=mm&s=98">
      <img class="anne"src="http://devbootcamp.com/imgs/teaching-large-anne.png">
      <img class="zee"src="http://devbootcamp.com/imgs/teaching-large-zee.png">
    </div>

  </div>

<!--   <p id="vs"> vs. </p>
 -->
  <button class='start-game-button' style='display:none'>Start Game!</button>

  <table class="racer_table" >
    <tr id="player1_strip">
      <td class="active-1"> </td>
      <td id="1"></td>
      <td id="2"></td>
      <td id="3"></td>
      <td id="4"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active-2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

    <div id="countdown"></div>
    <div class="game-end-buttons" style="display:none">
      <button id='restart' >Restart Game!</button>
      <button id='newgame'>New Players!</button>
    </div>
  </div>
